/*------------------------------Navbar------------------------------*/
.navbar-logo img{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.role-selection img{
    width: 500px;
    height: auto;
    margin-right: 5px;
}