<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="x-ua-compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>L&C Fleet Management</title>

	<!-- Bootstrap is included via CDN. -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

	<!-- CSS file style.css is linked with this html. -->
	<link rel="stylesheet" href="../static/css/style.css">


    
</head>
<body>
<h1>L&C Car Fleet Management Project</h1>
<h4>Deployed on AWS EC2 using Nginx and Gunicorn.</h4>

<!---------------------------------------------------------------------------------------------------------------------------------->

<!-- JavScript file app.js is linked with this html. -->
<script src="../static/js/app.js"></script>

<!-- JavScript for Bootstrap is included via CDN. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

